pip-tools==4.2.0

ipython

flask
gunicorn

-e git+git://github.com/anastasia/namecolor.git@aa2a8d7#egg=namecolor

# tasks
fabric3

# db
psycopg2
Flask-SQLAlchemy
Flask-Migrate

# data parsing
pandas

jupyter
notebook>=5.7.2


urllib3>=1.24.2
Jinja2>=2.10.1
SQLAlchemy>=1.3.0
notebook>=5.7.8


werkzeug>=0.15.3

Pillow>=6.2.2
