body {
    font-family: sans-serif;
}
nav {
    padding: 20px;
    background-color: #222;
}
nav > ul {
    display: inline-block;
}
nav > ul > li {
    list-style: none;
    float: left;
    margin-right: 20px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover, a:active, a:focus {
    color: #fff65b;
    border-bottom: 3px solid #fff65b;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

.container {
    padding: 0;
}

.pixel-container {
    margin-bottom: 40px;
}
.case-pixel {
    position: relative;
    bottom: -15px;
    float: left;
    height: 10px;
    width: 100%;
    top: 0;
}

.case-info {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    background: #222;
    color: #fff;
    width: 350px;
    padding: 20px;
}

.case-year {
    color: #fff65b;
}

.case-info > .case-title {
    font-size: 30px;
}

.case-context {
    border-top: 1px solid white;
    padding-top: 10px;
    font-size: 80%;
    font-style: italic;
}


#load-more {
    z-index: 99999;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    color: #222;
    border: 3px solid #222;
    padding: 10px 20px;
    right: 0;
    margin-top: 15px;
}

#load-more[disabled=""] {
    background-color: #555;
    cursor: default;
}

.create-container {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
}

#color {
    width: 100%;
    padding: 20px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}