{% extends "layout.html" %}
{% block content %}
  <div id="pixel-container">
    {% for case in results %}
      <a href="https://api.case.law/v1/cases/{{ case.case_id }}"
         target="_blank">
        <div class="case-pixel"
             data-date="{{ case.date }}"
             data-context="{{ case.context }}"
             data-text="{{ case.captured_text }}"
             data-title="{{ case.name_abbreviation }}"
             style="background-color: #{{ case.hex }}"></div>
      </a>
    {% endfor %}
  </div>
  <div class="case-info">
    <h1 class="case-year">Case colors</h1>
    <h2 class="case-title">Hover over a color to see the case.</h2>
    <p class="case-text">Click the color to go to the case.</p>
  </div>
  <div class="year"></div>
  <button id="load-more">Load more...</button>

{% endblock %}
  